<ion-header>
  <ion-icon name="chevron-back-circle-outline" (click)="voltarParaCodigo()" id="icon"></ion-icon>
  <ion-img src="/assets/img/Artboard-1.jpeg"></ion-img>
</ion-header><br>
<ion-app>
  Quase Lá...
</ion-app><br>
<ion-label class="color">
  <br><br><br>
  <label id="txtSenha">Crie Uma Senha</label><br>
  <input type="text" placeholder="Senha:" id="iptSenha"><br><br><br><br><br>
  <label id="txtConSenha">Confirme A Senha</label><br>
  <input type="text" placeholder="Senha:" id="iptConSenha"><br><br><br><br><br>
  <ion-checkbox labelPlacement="end">Confirme Os Termos De Uso</ion-checkbox>
  <ion-button size="large" color="danger" (click)="PaginaInicial()">Finalizar Cadastro</ion-button>
</ion-label>


