ion-header{
  height: 1px;
}

ion-icon{
  margin-top: 65px;
  margin-left: 20px;
  font-size: 60px;
}

ion-img{
  width: 140px;
  float: right;
}
ion-grid{
  margin-top: 100px;
}
.text{
  text-align: center;
  font-size: xx-large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(73, 73, 73);
  div{
    margin-top: 0%;
  }
}
.codigo{
  background-color: rgb(231, 226, 226);
  width: 100%;
  border-top-left-radius: 90px;
  border-top-right-radius: 90px;
  p{
    margin-bottom: 400px;
    margin-left: 50px;
    color: black;
    font-size: x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  #btn{

  }
}

