<ion-header>
  <ion-img src="/assets/img/Artboard-1.jpeg"></ion-img>
  <ion-icon name="chevron-back-circle-outline" (click)="voltarParaNome()"></ion-icon>
</ion-header><br><br><br><br><br>
<ion-grid>
  <ion-label class="text">
    <div>Digite os Números</div>
    <div>Que Recebeu No</div>
    <div>E-mail</div>
  </ion-label>
</ion-grid>
<div class="codigo">
  <p>_____ &nbsp;&nbsp;&nbsp;&nbsp;   _____  &nbsp;&nbsp;&nbsp;&nbsp;   _____  &nbsp;&nbsp;&nbsp;&nbsp;    _____</p>
</div>
<ion-button size="large" color="danger" (click)="verificar()">Verificar E-Mail</ion-button>
