<ion-content [fullscreen]="true">
  <ion-img src="/assets/img/Artboard-1.jpeg"></ion-img>
  <ion-icon name="chevron-back-circle-outline" (click)="voltarHome()"></ion-icon>
  <ion-text>
    <p>Medicamentos E <br><a> Insulina</a></p>
  </ion-text>
  <div class="color">
    <br>
    <div class="medicamentos">
      <div class="alarme">
        <p>12:13</p>
      </div>
    </div><br>
    <ion-button color="danger">Alterar Alarme</ion-button>
    <br><br><br>
    <ion-item class="cor">
      <div class="remedio">
        <ion-icon name="bandage-outline" id="icon1"></ion-icon>
        <ion-icon name="bandage-outline" id="icon2"></ion-icon><br><br>
        <ion-button color="danger">Atualizar</ion-button>
      </div>
      <ion-text class="txt">Glifage_XL_500mg</ion-text>
      <ion-text id="txt2">Wosolin-N</ion-text>
    </ion-item><br><br>
    <ion-text id="txta">Como Aplicar A Insulina?</ion-text>
    <iframe width="99%" height="150" src="https://www.youtube.com/watch?v=Y2Aq0KPKx7U" allow="accelerometer; autoplay;
    clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen><ion-icon name="caret-forward-circle-outline"></ion-icon></iframe><br><br>
    <div class="linha">
      .
    </div><br><br>
    <ion-text id="inst">Instruções</ion-text><br>
    <br><br>
    <li>Instrução 1</li><br>
    <li>Instrução 2</li><br>
    <li>Instrução 3</li><br>
    <li>Instrução 4</li><br>
    <div class="icons">
      <ion-icon name="calendar-outline" size="30px"></ion-icon>
      <ion-icon name="home-outline"></ion-icon>
      <ion-icon name="restaurant-outline" class="ion-float-rigth"></ion-icon>
    </div>
  </div>
</ion-content>
